* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background: url('https://i.redd.it/7xz140p9es851.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.bd-card{
display: flex;
justify-content: center;
}
.bg-ots {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    opacity: 0.2;
    height: auto;
}

.bg-t {
    position: fixed;
    width: 100%;
    height: 100%;
}

#bg-card {
    background-color: #74EBD5;
    background-image: linear-gradient(120deg, #74EBD5 0%, #9FACE6 100%);
    border-radius: 5px;
    opacity: 1;
}

input {
    border: none !important;

}

.text-box {
    border-bottom: 1px solid white !important;
    padding: 5px;
    display: flex;
    align-items: flex-end;
}

#loginBtn {
    width: 350px;
}

#signUpBtn {
    width: 350px;
}

i {
    color: white;
}

.icon-log {
    width: 45px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items : center;
    justify-content: center;
}

    .fa-facebook {
    padding: 13px 18px 13px 18px;
    font-size: 20px !important;
    text-align: center;
    text-decoration: none;
    border-radius: 50% !important;
}
.fa-google{
    padding: 13px 16px 13px 16px;
    font-size: 20px !important;
    text-align: center;
    text-decoration: none;
    border-radius: 50% !important;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.social-group {
    display: flex;
    justify-content: center;
}

.signIn-group {
    margin-top: 100px !important;
}